/UI_tests/log.html
/UI_tests/output.xml
/UI_tests/report.html
/chromedriver.exe
/log.html
/output.xml
/report.html
/API_tests/test_BasicCalls/pytest_report.html
/API_tests/test_API_after_UI/after_ui.html
/API_tests/test_BasicCalls/basic_calls.html
/API_tests/test_complex_scenarios/complex_scenarios.html
